
@{
    ViewBag.Title = "AcessoNegado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Acesso Negado</h2>
<br />

<div class="alert alert-warning" role="alert">
    Para ter acesso a esse conteúdo efetue o login @Html.ActionLink("clicando aqui", "Index", "Login").
</div>

