/*==========================================*/

.btnGray
{
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color: #ededed;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #777777;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 8px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #ffffff;
	cursor: pointer;
}
.btnGray:hover
{
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color: #dfdfdf;
}

.btnGray:active
{
	position: relative;
	top: 1px;
}

.imgEdit
{
	width: 17px;
	height: 17px;
	float: left;
	cursor: pointer;
	background: url(../Content/Images/edit.gif) no-repeat transparent top center;
	margin-left: 5px;
}

.imgDelete
{
	width: 16px;
	height: 16px;
	float: left;
	cursor: pointer;
	background: url(../Content/Images/delete.gif) no-repeat transparent top center;
	margin-left: 5px;
}

.imgDetails
{
	width: 17px;
	height: 17px;
	float: left;
	cursor: pointer;
	background: url(../Content/Images/search.gif) no-repeat transparent top center;
	margin-left: 5px;
	border: 0;
}

.imgMore
{
	width: 17px;
	height: 17px;
	float: left;
	cursor: pointer;
	background: url(../Content/Images/add.gif) no-repeat transparent top center;
	margin-left: 5px;
}

.imgPdf
{
	width: 17px;
	height: 17px;
	float: left;
	cursor: pointer;
	background: url(../Content/Images/pdf.png) no-repeat transparent top center;
	margin-left: 5px;
}


/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(224, 223, 223) 50% 50% no-repeat; /*url('images/loader.gif')*/
    opacity: 0.7 !important;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

    /* Anytime the body has the loading class, our
   modal element will be visible */
    body.loading .modal {
        display: block;
    }

        body.loading .modal .mensagem {
            position: relative;
            float: left;
            top: 50%;
            left: 45%;
            font-size: 26px;
            font-weight: bold;
            text-align: center;
            color: #000;
        }